<%- include("top_navbar.ejs") %>

  <body class="bg-background">
    <br><Br><Br>
    <br><Br><Br>

    <!-- login container -->
    <!-- newpassword form start
      source: https://flowbite.com/docs/components/forms/ -->
    <div class="container mx-auto m-auto">
      <form action="/replacePassword" method="post" class="max-w-md mx-auto">
        <h1 class="text-white text-lg">Enter code sent to email <%= email %>
        </h1>
        <!-- user entered code input -->
        <div class="relative z-0 w-full mb-5 group">
          <input type="text" name="Usercode" id="Usercode"
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
            placeholder=" " required />
          <label for="Usercode"
            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
            code
          </label>
        </div>
        <!-- new password input -->
        <div class="relative z-0 w-full mb-5 group">
          <input type="password" name="password" id="password"
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
            placeholder=" " required />
          <label for="password"
            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
            New Password
          </label>
        </div>
        <!-- values to pass to post -->
        <input type="hidden" name="email" value="<%= email %>">
        <input type="hidden" name="phone" value="<%= phone %>">
        <input type="hidden" name="username" value="<%= username %>">

        <!-- hidden code value to compare with user entered code -->
        <input type="hidden" id="code" value="<%= code %>">
        <button type="button" id="verifyCode"
          class="text-black bg-secondary hover:bg-secondary focus:ring-4 focus:outline-none focus:ring-secondary font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-seconday dark:hover:bg-seconday dark:focus:ring-seconday">Submit</button>
        <script>
          // verify code matches one sent to email or phone
          var verifyCodeBtn = document.getElementById("verifyCode")
          // on click event listener for the visable button
          verifyCodeBtn.addEventListener("click", () => {
            //check if the codes are the same
            if (document.getElementById("code").value == document.getElementById("Usercode").value) {
              // click on the hidden button to submit the form, this is a hack to check if the code is correct and submitting in one button
              document.getElementById("submitPassword").click()
            } else {
              //if codes do not match alert the user
              alert("Invalid code")
            }
          })
        </script>


        <button type="submit" id="submitPassword"
          class="hidden text-black bg-secondary hover:bg-secondary focus:ring-4 focus:outline-none focus:ring-secondary font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-seconday dark:hover:bg-seconday dark:focus:ring-seconday">Submit</button>
      </form>
    </div>